<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu <a class="nav-link" href="#" routerLink="/contenido">contenido</a></mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div style="margin-left: 40%;margin-top: 5% ;">
<div style="background-color: rgb(112, 53, 189); width: 18rem; height: 15rem;">
  <div class="container" style="text-align: center;">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill" style="margin-top:10% ;">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>password</mat-label>
        <input matInput>
      </mat-form-field>
    </form>
    <button mat-raised-button color="accent"><a class="nav-link" href="#" routerLink="/contenido2">entrar</a></button>
  </div>
</div>
</div>


<router-outlet></router-outlet>